<mat-toolbar color="primary">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <div class="mat-toolbar-nav mat-toolbar-nav-with-fab">
      <button mat-fab class="mat-toolbar-nav-fab">
        <mat-icon>add</mat-icon>
      </button>
      <span class="mat-toolbar-nav-title">My Files</span>
      <span class="mat-toolbar-nav-icon"><i class="material-icons">chevron_right</i></span>
      <span class="mat-toolbar-nav-title">Photos</span>
      <span class="mat-toolbar-nav-icon"><i class="material-icons">chevron_right</i></span>
      <span class="mat-toolbar-nav-title">Family</span>
    </div>
    <span class="toolbar-filler"></span>
    <button mat-icon-button *ngIf="viewType === 'list'" (click)="viewType = 'grid'">
      <mat-icon>view_list</mat-icon>
    </button>
    <button mat-icon-button *ngIf="viewType === 'grid'" (click)="viewType = 'list'">
      <mat-icon>view_module</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>file_download</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="page-toolbar-content" *ngIf="viewType === 'grid'">
  <mat-grid-list cols="5" rowHeight="260px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img1.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>1</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img2.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>2</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img3.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>3</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img4.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>4</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img5.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>5</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img6.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>6</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img7.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>7</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img8.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>8</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img9.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>9</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img10.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>10</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img11.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>11</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
      <img src="assets/img/gallery/img12.jpg">
      <mat-grid-tile-footer>
        <h3 mat-line>12</h3>
        <span mat-line>Jun 5, 2016</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class=" page-toolbar-content page-toolbar-left-content" *ngIf="viewType === 'list'">
  <mat-card>
    <mat-list class="mat-list-with-fab">
      <h3 mat-subheader></h3>
      <h3 mat-subheader>Photos</h3>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <p mat-line>1.jpg</p>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>2.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>3.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>4.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>5.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>6.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>7.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>8.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>9.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>10.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>11.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_photo</mat-icon>
        <h4 mat-line>12.jpg</h4>
        <p mat-line>Image</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Files</h3>
      <mat-list-item>
        <mat-icon mat-list-avatar>insert_drive_file</mat-icon>
        <h4 mat-line>lokra.doc</h4>
        <p mat-line>Word Document</p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
<div class=" page-toolbar-content page-toolbar-right-content" *ngIf="viewType === 'list'">
  <div class="info-content">
    <img class="view" src="assets/img/gallery/img1.jpg">
    <mat-list>
      <mat-list-item>
        <h4 mat-line>Available Offline</h4>
        <h4 mat-line>
          <small>Check out local</small>
        </h4>
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>info</h3>
      <mat-list-item>
        <h3 mat-line>1.jpg</h3>
        <p mat-line>Jun 1, 2016</p>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
