<md-toolbar color="primary">
  <md-toolbar-row>
    <h1 class="page-card-flexible-title">Weather icons
      <small><a class="badge" href="https://erikflowers.github.io/weather-icons/">Official Documentation</a></small>
    </h1>
  </md-toolbar-row>
  <md-toolbar-row></md-toolbar-row>
</md-toolbar>
<md-card class="page-card page-card-flexible-tabs" fxFlexOffset="15" fxFlex="70">
  <md-tab-group>
    <md-tab label="Overview">
      <div class="tab-body-content">
        <p>Weather Icons is the only icon font and CSS with 222 weather themed icons, ready to be dropped right into
          Bootstrap, or any project that needs high quality weather, maritime, and meteorological based icons!</p>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
          <div fxFlex class="example-icon-content">
            <i class="wi wi-day-sunny example-icon"></i>
          </div>
          <div fxFlex class="example-icon-content">
            <i class="wi wi-day-thunderstorm example-icon"></i>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
          <div fxFlex class="example-icon-content">
            <i class="wi wi-lightning example-icon"></i>
          </div>
          <div fxFlex class="example-icon-content">
            <i class="wi wi-moon-alt-waxing-crescent-6 example-icon"></i>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="Usage">
      <div class="tab-body-content">
        <div class="docs-guide-content">
          <table>
            <thead>
            <tr>
              <th>Method</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>class</td>
              <td><code>&lt;i class="wi wi-day-sunny"&gt;&lt;/i&gt;</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</md-card>
