<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="page-card-flexible-title">Google Maps
      <small><a class="badge" href="https://angular-maps.com/docs/api/latest/ts">Official Documentation</a></small>
    </h1>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<mat-card class="page-card page-card-flexible-tabs" fxFlexOffset="15" fxFlex="70">
  <mat-tab-group>
    <mat-tab label="Overview">
      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zm">
        <sebm-google-map-marker
          [latitude]="mlat"
          [longitude]="mlng"
          [label]="mlabel"
          [markerDraggable]="matraggable">
        </sebm-google-map-marker>
      </sebm-google-map>
    </mat-tab>
  </mat-tab-group>
</mat-card>
