<mat-tab-group>
  <mat-tab label="Example">
    <div class="page-content">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <mat-card fxFlex class="page-card">
          <mat-card-title>Card title</mat-card-title>
          <mat-card-content>
            <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p>
            <p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque at. Sed sit amet nulla a dui dignisim euismod.
              Morbi luctus elementum dictum. Donec convallis mattis elit id varius. Quisque facilisis sapien quis mauris,,
              erat condimentum.</p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex class="page-card">
          <mat-card-title>Card title</mat-card-title>
          <mat-card-subtitle>Card subtitle</mat-card-subtitle>
          <mat-card-content>
            <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p>
            <p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque at. Sed sit amet nulla a dui dignisim euismod.
              Morbi luctus elementum dictum. Donec convallis mattis elit id varius. Quisque facilisis sapien quis mauris,,
              erat condimentum.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <mat-card fxFlex class="page-card">
          <mat-card-title>Card title</mat-card-title>
          <mat-card-subtitle>Card subtitle</mat-card-subtitle>
          <mat-card-content>
            <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p>
            <p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque at. Sed sit amet nulla a dui dignisim euismod.
              Morbi luctus elementum dictum. Donec convallis mattis elit id varius. Quisque facilisis sapien quis mauris,,
              erat condimentum.</p>
          </mat-card-content>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
        <mat-card fxFlex class="page-card">
          <mat-card-title>Card title</mat-card-title>
          <mat-card-subtitle>Card subtitle</mat-card-subtitle>
          <mat-card-content>
            <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p>
            <p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque at. Sed sit amet nulla a dui dignisim euismod.
              Morbi luctus elementum dictum. Donec convallis mattis elit id varius. Quisque facilisis sapien quis mauris,,
              erat condimentum.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <mat-card fxFlex="33.3%" class="page-card">
          <mat-card-header>
            <div mat-card-avatar
                 style="background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
             background-size: cover;">
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card fxFlex="33.3%" class="page-card">
          <mat-card-header>
            <div mat-card-avatar
                 style="background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
             background-size: cover;">
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
        <mat-card fxFlex="33.3%" class="page-card">
          <mat-card-title>Shiba Inu</mat-card-title>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Overview">
    <div class="page-content">
      <mat-card class="page-card">
        <mat-card-title><code>matCardModule</code>
          <a class="badge" href="https://material.angular.io/components/component/card">Official Documentation</a>

        </mat-card-title>
        <mat-card-content>
          <div class="docs-guide-content">
            <p>
              <code>&lt;mat-card&gt;</code> is a content container for text, photos, and actions.
              Cards are intended to provide information on a single subject.
            </p>
            <h3 id="basis-card">Basic card sections</h3>
            <p>
              The most basic card needs only an <code>&lt;mat-card&gt;</code> element with some content. However,
              Angular Material provides a number of preset sections that you can use inside of an
              <code>&lt;mat-card&gt;</code>:
            </p>

            <table>
              <thead>
              <tr>
                <th>Element</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>&lt;mat-card-title&gt;</code></td>
                <td>Card title</td>
              </tr>
              <tr>
                <td><code>&lt;mat-card-subtitle&gt;</code></td>
                <td>Card subtitle</td>
              </tr>
              <tr>
                <td><code>&lt;mat-card-content&gt;</code></td>
                <td>Dual-progress mode, typically showing both video download and playback progress</td>
              </tr>
              <tr>
                <td><code><code>&lt;img mat-card-image&gt;</code></code></td>
                <td>Dual-stage mode, typically showing sending a request and downloading a response</td>
              </tr>
              <tr>
                <td><code><code>&lt;mat-card-actions&gt;</code></code></td>
                <td>Dual-progress mode, typically showing both video download and playback progress</td>
              </tr>
              <tr>
                <td><code><code>&lt;mat-card-footer&gt;</code></code></td>
                <td>Dual-stage mode, typically showing sending a request and downloading a response</td>
              </tr>
              </tbody>
            </table>
            <p>These elements primary serve as pre-styled content containers without any additional APIs.
              However, the align property on <code>&lt;mat-card-actions&gt;</code> can be used to position
              the actions at the 'start' or 'end of the container.
            </p>
            <h3 id="card-header">Card headers</h3>
            <p>In addition to the aforementioned sections, <code>&lt;mat-card-header&gt;</code> gives the ability to
              add a rich header to a card. This header can contain:
            </p>
            <table>
              <thead>
              <tr>
                <th>Element</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>&lt;mat-card-title&gt;</code></td>
                <td>A title within the header</td>
              </tr>
              <tr>
                <td><code>&lt;mat-card-subtitle&gt;</code></td>
                <td>A subtitle within the header</td>
              </tr>
              <tr>
                <td><code>&lt;mat-card-avatar&gt;</code></td>
                <td>An image used as an avatar within the header</td>
              </tr>
              </tbody>
            </table>
            <h3>Title groups</h3>
            <p>An <code>&lt;mat-title-group&gt;</code> can be used to combine a title, subtitle,
              and image into a single section. This element can contain:
            </p>
            <ul>
              <li><code>&lt;mat-card-title&gt;</code></li>
              <li><code>&lt;mat-card-subtite&gt;</code></li>
              <li>One of:<ul>
                <li><code>&lt;img mat-card-sm-image&gt;</code></li>
                <li><code>&lt;img mat-card-mat-image&gt;</code></li>
                <li><code>&lt;img mat-card-lg-image&gt;</code></li>
              </ul>
              </li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="API Reference">
    <div class="page-content">
      <mat-card class="page-card">
        <mat-card-title><code>matCardModule</code></mat-card-title>
        <mat-card-content>
          <div class="docs-guide-content">
            <h2>Directives</h2>

            <h3 class="docs-api-h3 docs-api-class-name">matCardContent</h3>
            <p class="docs-api-class-description">Content of a card, needed as it&#39;s used as a selector in the API.
            </p>
            <h3 class="docs-api-h3 docs-api-class-name">matCardTitle</h3>
            <p class="docs-api-class-description">Title of a card, needed as it&#39;s used as a selector in the API.
            </p>
            <h3 class="docs-api-h3 docs-api-class-name">matCardSubtitle</h3>
            <p class="docs-api-class-description">Sub-title of a card, needed as it&#39;s used as a selector in the API.
            </p>
            <h3 class="docs-api-h3 docs-api-class-name">matCardActions</h3>
            <p class="docs-api-class-description">Action section of a card, needed as it&#39;s used as a selector in the API.
            </p>
            <h3 class="docs-api-h3 docs-api-class-name">matCardFooter</h3>
            <p class="docs-api-class-description">Footer of a card, needed as it&#39;s used as a selector in the API.
            </p>
            <h3 class="docs-api-h3 docs-api-class-name">matCard</h3>
            <p class="docs-api-class-description">A basic content container component that adds the styles of a Material design card.

              While this component can be used alone, it also provides a number
              of preset styles for common card sections, including:
              - mat-card-title
              - mat-card-subtitle
              - mat-card-content
              - mat-card-actions
              - mat-card-footer
            </p>
            <h3 class="docs-api-h3 docs-api-class-name">matCardHeader</h3>
            <p class="docs-api-class-description">Component intended to be used within the `&lt;mat-card&gt;` component. It adds styles for a
              preset header section (i.e. a title, subtitle, and avatar layout).
            </p>
            <h3 class="docs-api-h3 docs-api-class-name">matCardTitleGroup</h3>
            <p class="docs-api-class-description">Component intended to be used within the &lt;mat-card&gt; component. It adds styles for a preset
              layout that groups an image with a title section.
            </p>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
