<div class="sign-container">
  <div class="sign-background"></div>
  <mat-card class="sign-card">
    <mat-card-title><img style="height: 64px;" src="assets/img/logo-full.svg"></mat-card-title>
    <mat-card-subtitle>Please enter your password to unlock.</mat-card-subtitle>
    <br>
    <mat-card-content>
      <mat-input-container>
        <input matInput type="password" placeholder="Password" value="">
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Unlock</button>
    </mat-card-actions>
  </mat-card>
</div>
