.sign-container {
  text-align: center;
  margin-top: 150px;
  .sign-background {
    position: fixed;
    margin-top: -250px;
    width: 100%;
    height: 100%;
    opacity: 0.038;
    background: url('/assets/img/logo-full-noborder.svg') no-repeat center;
  }
  .sign-card {
    margin: 0 auto;
    width: 380px;
  }
}
