<div class="page-content">
  <md-card class="page-card">
    <md-card-title>
      Invoice
    </md-card-title>
    <md-card-subtitle>
      Default invoice page style base on bootstrap
    </md-card-subtitle>
    <md-card-content>
      <section class="bs">
        <div class="row">
          <div class="col-md-6">
            <h4>
              <img src="assets/img/logo-full.svg" height="86" alt="Lokra">
              <br>
              <br>
              Lokra Delivery
            </h4>
            <address>
              795 Dep, Tianhe Road
              <br>
              Guangzhou, GD, 51000
              <br>
              <abbr title="Mail">E-mail:</abbr>&nbsp;&nbsp;service@Lokra.org
              <br>
              <abbr title="Phone">Phone:</abbr>&nbsp;&nbsp;(123) 456-7890
              <br>
              <abbr title="Fax">Fax:</abbr>&nbsp;&nbsp;123-456-3210
              <br>
              <br>
            </address>
          </div>
          <div class="col-md-6 text-right">
            <h4>Invoice Info</h4>
            <p>
              <a>L1123-122-2333</a>
              <br>
              <span>Chiho Sin</span>
            </p>
            <address>
              795 Dep, Tianhe Road
              <br> Guangzhou, GD, 51000
              <br>
              <abbr title="Phone">(123) 456-7890</abbr>
              <br>
            </address>
            <span>Invoice Date: July 1, 2016</span>
            <br>
            <span>Due Date: July 3, 2016</span>
            <br>
            <br>
          </div>
        </div>
        <div>
          <table class="table table-hover text-right">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Service</th>
              <th class="text-right">Time(hour)</th>
              <th class="text-right">Unit Cost</th>
              <th class="text-right">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-left">Database rebuild</td>
              <td>35</td>
              <td>$75.00</td>
              <td>$2,152.00</td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td class="text-left">Micro services framework design</td>
              <td>21</td>
              <td>$169.00</td>
              <td>$4,169.00</td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td class="text-left">Database rebuild</td>
              <td>35</td>
              <td>$75.00</td>
              <td>$2,152.00</td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td class="text-left">Micro services framework design</td>
              <td>21</td>
              <td>$169.00</td>
              <td>$4,169.00</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right clearfix">
          <div class="pull-right">
            <p>
              Sub - Total amount: <strong><span>$2,800.00</span></strong>
            </p>
            <p>
              VAT: <strong><span>23.00</span></strong>
            </p>
            <p class="page-invoice-amount">
              <strong>Grand Total: <span>$2,823.00</span></strong>
            </p>
            <br>
          </div>
        </div>
        <div class="text-right">
          <button md-button color="primary">Payment</button>
          <button md-button>Print</button>
        </div>
      </section>
    </md-card-content>
  </md-card>
</div>
