<div class="page-content">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <md-nav-list class="page-nav" fxFlex="25">
      <h3 md-subheader>Mail Box</h3>
      <md-list-item>
        <a md-line><i class="material-icons">inbox</i> Inbox</a>
        <span class="badge">3</span>
      </md-list-item>
      <md-list-item>
        <a md-line><i class="material-icons">send</i> Sent</a>
      </md-list-item>
      <md-list-item>
        <a md-line><i class="material-icons">drafts</i> Drafts</a>
        <span class="badge">1</span>
      </md-list-item>
      <md-list-item>
        <a md-line><i class="material-icons">delete</i> Trash</a>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Favorite</h3>
      <md-list-item>
        <a md-line><i class="material-icons">bookmark</i> Important</a>
      </md-list-item>
      <md-list-item>
        <a md-line><i class="material-icons">save</i> Archive</a>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Tags</h3>
      <md-list-item>
        <a md-line><i class="material-icons" style="color:red;">lens</i> Red</a>
      </md-list-item>
      <md-list-item>
        <a md-line><i class="material-icons" style="color:green;">lens</i> Green</a>
      </md-list-item>
      <md-list-item>
        <a md-line><i class="material-icons" style="color:yellow;">lens</i> Yellow</a>
      </md-list-item>
      <md-list-item>
        <a md-line><i class="material-icons" style="color:blue;">lens</i> Blue</a>
      </md-list-item>
      <md-list-item>
        <a md-line><i class="material-icons" style="color:grey;">lens</i> Grey</a>
      </md-list-item>
    </md-nav-list>


    <md-nav-list class="page-nav" fxFlex="75">
      <md-card class="page-card">
        <md-card-title><md-icon>inbox</md-icon> Inbox</md-card-title>
        <md-card-header>
          <md-input-container fxFlex="30">
            <input mdInput placeholder="Search" value="">
          </md-input-container>
          <span class="filler"></span>
          <button md-icon-button>
            <md-icon>filter_list</md-icon>
          </button>
          <button md-icon-button>
            <md-icon>refresh</md-icon>
          </button>
          <button md-icon-button>
            <md-icon>more_vert</md-icon>
          </button>
        </md-card-header>
      </md-card>
      <md-card class="page-card">
        <md-card-content>
          <md-list-item>
            <md-checkbox md-list-avatar></md-checkbox>
            <h3 md-line> Tim Max </h3>
            <p md-line>
              <small>Make some fun tonight?</small>
            </p>
            <h3 md-line>
              <small>just now</small>
            </h3>
            <button md-icon-button>
              <md-icon>star_border</md-icon>
            </button>
          </md-list-item>
          <md-list-item>
            <md-checkbox md-list-avatar></md-checkbox>
            <h3 md-line> Benji Sam </h3>
            <p md-line>
              <small>Some file for material, please check out at git.</small>
            </p>
            <h3 md-line>
              <small>just now</small>
            </h3>
            <button md-icon-button>
              <md-icon>attach_file</md-icon>
            </button>
            <button md-icon-button>
              <md-icon>star_rate</md-icon>
            </button>
          </md-list-item>
          <md-list-item>
            <md-checkbox md-list-avatar></md-checkbox>
            <h3 md-line> Jone Lie </h3>
            <p md-line>
              <small>Daily report.</small>
            </p>
            <h3 md-line>
              <small>18:00 Jun 2, 2016</small>
            </h3>
            <button md-icon-button>
              <md-icon>star_border</md-icon>
            </button>
          </md-list-item>
          <md-list-item>
            <md-checkbox md-list-avatar></md-checkbox>
            <h3 md-line> Deny Wu </h3>
            <p md-line>
              <small>Daily report.</small>
            </p>
            <h3 md-line>
              <small>18:00 Jun 2, 2016</small>
            </h3>
            <button md-icon-button>
              <md-icon>star_border</md-icon>
            </button>
          </md-list-item>
          <md-list-item>
            <md-checkbox md-list-avatar></md-checkbox>
            <h3 md-line> Tim Max </h3>
            <p md-line>
              <small>Daily report.</small>
            </p>
            <h3 md-line>
              <small>18:00 Jun 2, 2016</small>
            </h3>
            <button md-icon-button>
              <md-icon>star_border</md-icon>
            </button>
          </md-list-item>
          <md-list-item>
            <md-checkbox md-list-avatar></md-checkbox>
            <h3 md-line> Olive Tons </h3>
            <p md-line>
              <small>Daily report.</small>
            </p>
            <h3 md-line>
              <small>18:00 Jun 2, 2016</small>
            </h3>
            <button md-icon-button>
              <md-icon>star_border</md-icon>
            </button>
          </md-list-item>
        </md-card-content>
      </md-card>
    </md-nav-list>
  </div>
</div>
