pre code{
  color: #268bd2;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
md-toolbar.md-primary {
  background-color: #f0ad4e !important;
  color: white;
}
md-toolbar.md-accent {
  background-color: rgb(0, 150, 136);
  color: white;
}
