<md-toolbar color="primary">
  <md-toolbar-row>
    <h1 class="page-card-flexible-title">Material icons
      <small><a class="badge" href="https://material.io/icons/">Official Documentation</a></small>
    </h1>
  </md-toolbar-row>
  <md-toolbar-row></md-toolbar-row>
</md-toolbar>
<md-card class="page-card page-card-flexible-tabs" fxFlexOffset="15" fxFlex="70">
  <md-tab-group>
    <md-tab label="Overview">
      <div class="tab-body-content">
        <p>Material icons are beautifully crafted, delightful, and easy to use in your web, Android, and iOS
          projects. Learn more about material design and our process for making these icons in the <a
            href="https://design.google.com/spec/style/icons.html#icons-system-icons">system icons section</a> of the
          <a href="https://design.google.com/spec/">material design guidelines</a>.</p>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
          <div fxFlex class="example-icon-content">
            <i class="material-icons example-icon">face</i>
          </div>
          <div fxFlex class="example-icon-content">
            <i class="material-icons example-icon">opacity</i>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
          <div fxFlex class="example-icon-content">
            <i class="material-icons example-icon">fingerprint</i>
          </div>
          <div fxFlex class="example-icon-content">
            <i class="material-icons example-icon">color_lens</i>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="Usage">
      <div class="tab-body-content">
        <div class="docs-guide-content">
          <table>
            <thead>
            <tr>
              <th>Method</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>class</td>
              <td><code>&lt;i class="material-icons"&gt;face&lt;/i&gt;</code></td>
            </tr>
            <tr>
              <td>tags</td>
              <td><code>&lt;md-icon&gt;face&lt;/md-icon&gt;</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</md-card>
