<md-tab-group>
  <md-tab label="Example">
    <div class="page-content">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <md-card fxFlex class="page-card">
          <md-card-title>List</md-card-title>
          <md-card-subtitle>Default material list</md-card-subtitle>
          <md-card-content>
            <md-card>
              <md-list>
                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar3.png" class="img-circle">
                  <h5 md-line>@lucas.smith</h5>
                  <h4 md-line>Lucas Smith checked out branch feature/123-branch at Themes/greatTheme</h4>
                  <p md-line>A few seconds ago </p>
                </md-list-item>
                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar1.png" class="img-circle">
                  <h5 md-line="">@george.clinton</h5>
                  <h4 md-line>George Clinton pushed to bug/123-branch at Themes/greatTheme</h4>
                  <p md-line>2 hours ago</p>
                </md-list-item>

                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar2.png" class="img-circle">
                  <h5 md-line="">@jane.perez</h5>
                  <h4 md-line>Michael Smith pushed to feature/223-branch at Themes/greatTheme</h4>
                  <p md-line>3 hours ago </p>
                </md-list-item>

                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar3.png" class="img-circle">
                  <h5 md-line>@michael.smith</h5>
                  <h4 md-line>Gladys Schuster closed issue #1234</h4>
                  <p md-line>4 hours ago </p>
                </md-list-item>

                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar1.png" class="img-circle">
                  <h5 md-line="">@gladys.schuster</h5>
                  <h4 md-line>Lucas Smith checked out branch feature/123-branch at Themes/greatTheme</h4>
                  <p md-line>5 hours ago </p>
                </md-list-item>
              </md-list>
            </md-card>
            <md-card>
              <md-list style="line-height: 24px">
                <md-list-item class="example-md-item bg-primary">
                  <h4 md-line>Lucas Smith checked out branch feature/123-branch at Themes/greatTheme</h4>
                  <p>6 hours ago</p>
                </md-list-item>
                <md-list-item class="example-md-item">
                  <h4 md-line>George Clinton pushed to bug/123-branch at Themes/greatTheme</h4>
                  <p>2 hours ago</p>
                </md-list-item>

                <md-list-item class="example-md-item bg-primary">
                  <h4 md-line>Michael Smith pushed to feature/223-branch at Themes/greatTheme</h4>
                  <p>3 hours ago</p>
                </md-list-item>

                <md-list-item class="example-md-item">
                  <h4 md-line>Gladys Schuster closed issue #1234</h4>
                  <p>4 hours ago</p>
                </md-list-item>

                <md-list-item class="example-md-item bg-primary">
                  <h4 md-line>Lucas Smith checked out branch feature/123-branch at Themes/greatTheme</h4>
                  <p>5 hours ago</p>
                </md-list-item>
              </md-list>
            </md-card>
            <md-card>
              <md-list>
                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar3.png" class="img-circle">
                  <h5 md-line >@lucas.smith</h5>
                  <h4 md-line>Lucas Smith checked out branch feature/123-branch at Themes/greatTheme</h4>
                  <p md-line>A few seconds ago </p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar1.png" class="img-circle">
                  <h5 md-line="">@george.clinton</h5>
                  <h4 md-line>George Clinton pushed to bug/123-branch at Themes/greatTheme</h4>
                  <p md-line>2 hours ago</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar2.png" class="img-circle">
                  <h5 md-line="">@jane.perez</h5>
                  <h4 md-line>Michael Smith pushed to feature/223-branch at Themes/greatTheme</h4>
                  <p md-line>3 hours ago </p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar3.png" class="img-circle">
                  <h5 md-line>@michael.smith</h5>
                  <h4 md-line>Gladys Schuster closed issue #1234</h4>
                  <p md-line>4 hours ago </p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="example-md-item">
                  <img md-list-avatar src="assets/img/avatar1.png" class="img-circle">
                  <h5 md-line="">@gladys.schuster</h5>
                  <h4 md-line>Lucas Smith checked out branch feature/123-branch at Themes/greatTheme</h4>
                  <p md-line>5 hours ago </p>
                </md-list-item>
              </md-list>
            </md-card>
          </md-card-content>
        </md-card>
      </div>

    </div>
  </md-tab>
  <md-tab label="Overview">
    <div class="page-content">
      <md-card class="page-card">
        <md-card-title><code>MdListModule</code>
          <a class="badge" href="https://material.angular.io/components/component/list">Official Documentation
          </a>
        </md-card-title>
        <md-card-content>
          <div class="docs-guide-content">
            <p>
              <code>&lt;md-list&gt;</code> is a container component that wraps and formats a series of line items.
              As the base list component, it provides Material Design styling, but no behavior of its own.
            </p>
            <h3>Simple lists</h3>
            <p>
              An <code>&lt;md-list&gt;</code> element contains a number of <code>&lt;md-list-item&gt;</code> elements.
            </p>
            <pre>
<code>&lt;md-list&gt;</code>
  <code>&lt;md-list-item&gt;</code> Pepper <code>&lt;/md-list-item&gt;</code>
  <code>&lt;md-list-item&gt;</code> Salt <code>&lt;/md-list-item&gt;</code>
  <code>&lt;md-list-item&gt;</code> Paprika <code>&lt;/md-list-item&gt;</code>
<code>&lt;/md-list&gt;</code>
            </pre>
            <h3>Navigation lists</h3>
            <p>
              Use <code>md-nav-list</code> tags for navigation lists (i.e. lists that have anchor tags).
            </p>
            <p>
              Simple navigation lists can use the md-list-item attribute on anchor tag elements directly:
            </p>
            <pre>
<code>&lt;md-nav-list&gt;</code>
  <code>&lt;a md-list-item href="..." *ngFor="let link of links"&gt;</code> &#123;&#123; link &#125;&nbsp;&#125; <code>&lt;/a&gt;</code>
<code>&lt;/md-nav-list&gt;</code>
            </pre>
            <p>
              For more complex navigation lists (e.g. with more than one target per item),
              wrap the anchor element in an <code>&lt;md-list-item&gt;</code>.
            </p>
            <pre>
<code>&lt;md-nav-list&gt;</code>
  <code>&lt;md-list-item *ngFor="let link of links"&gt;</code>
    <code>&lt;a md-line href="..."&gt;</code>&#123;&#123; link &#125;&nbsp;&#125;<code>&lt;/a&gt;</code>
    <code>&lt;button md-icon-button (click)="showInfo(link)"&gt;</code>
      <code>&lt;md-icon&gt;</code>info<code>&lt;/md-icon&gt;</code>
    <code>&lt;/button&gt;</code>
  <code>&lt;/md-list-item&gt;</code>
<code>&lt;/md-nav-list&gt;</code>
            </pre>
            <h3>Multi-line lists</h3>
            <p>
              For lists that require multiple lines per item, annotate each line with an md-line attribute.
              Whichever heading tag is appropriate for your DOM hierarchy should be used
              (not necesarily <code>&lt;h3&gt;</code> as shown in the example).
            </p>
            <pre>
              <!-- two line list -->
<code>&lt;md-list&gt;</code>
  <code>&lt;md-list-item *ngFor="let message of messages"&gt;</code>
    <code>&lt;h3 md-line&gt;</code> &#123;&#123;message.from&#125;&nbsp;&#125; <code>&lt;/h3&gt;</code>
    <code>&lt;p md-line&gt;</code>>
      <code>&lt;span&gt;</code> &#123;&#123;message.subject&#125;&nbsp;&#125; <code>&lt;/span&gt;</code>
      <code>&lt;span class="demo-2"&gt;</code> -- &#123;&#123;message.content&#125;&nbsp;&#125; <code>&lt;/span&gt;</code>
    <code>&lt;/p&gt;</code>
  <code>&lt;/md-list-item&gt;</code>
<code>&lt;/md-list&gt;</code>

              <!-- three line list -->
<code>&lt;md-list&gt;</code>
  <code>&lt;md-list-item *ngFor="let message of messages"&gt;</code>
    <code>&lt;h3 md-line&gt;</code> &#123;&#123;message.from&#125;&nbsp;&#125; <code>&lt;/h3&gt;</code>
    <code>&lt;p md-line&gt;</code> &#123;&#123;message.subject&#125;&nbsp;&#125; <code>&lt;/p&gt;</code>
    <code>&lt;p md-line class="demo-2"&gt;</code> &#123;&#123;message.content&#125;&nbsp;&#125; <code>&lt;/p&gt;</code>
  <code>&lt;/md-list-item&gt;</code>
<code>&lt;/md-list&gt;</code>
            </pre>
            <h3>
              Lists with avatars
            </h3>
            <p>
              To include an avatar, add an image tag with an <code>md-list-avatar</code> attribute.
            </p>
            <pre>
<code>&lt;md-list&gt;</code>
  <code>&lt;md-list-item *ngFor="let message of messages"&gt;</code>
    <code>&lt;img md-list-avatar src="..." alt="..."&gt;</code>
    <code>&lt;h3 md-line&gt;</code> &#123;&#123;message.from&#125;&nbsp;&#125; <code>&lt;/h3&gt;</code>
    <code>&lt;p md-line&gt;</code>
      <code>&lt;span&gt;</code> &#123;&#123;message.subject&#125;&nbsp;&#125; <code>&lt;/span&gt;</code>
      <code>&lt;span class="demo-2"&gt;</code> -- &#123;&#123;message.content&#125;&nbsp;&#125; <code>&lt;/span&gt;</code>
    <code>&lt;/p&gt;</code>
  <code>&lt;/md-list-item&gt;</code>
<code>&lt;/md-list&gt;</code>
            </pre>
            <h3>Dense lists</h3>
            <p>
              Lists are also available in "dense layout" mode, which shrinks the font size
              and height of the list to suit UIs that may need to display more information.
              To enable this mode, add a dense attribute to the main <code>md-list</code> tag.
            </p>
            <pre>
<code>&lt;md-list dense&gt;</code>
 <code>&lt;md-list-item&gt;</code> Pepper <code>&lt;/md-list-item&gt;</code>
 <code>&lt;md-list-item&gt;</code> Salt <code>&lt;/md-list-item&gt;</code>
 <code>&lt;md-list-item&gt;</code> Paprika <code>&lt;/md-list-item&gt;</code>
<code>&lt;/md-list&gt;</code>
            </pre>
            <h3>Lists with multiple sections</h3>
            <p>
              Subheader can be added to a list by annotating a heading tag with an md-subheader attribute.
              To add a divider, use <code>&lt;md-divider&gt;</code>.
            </p>
            <pre>
<code>&lt;md-list&gt;</code>
   <code>&lt;h3 md-subheader&gt;</code>Folders<code>&lt;/h3&gt;</code>
   <code>&lt;md-list-item *ngFor="let folder of folders"&gt;</code>
      <code>&lt;md-icon md-list-avatar&gt;</code>folder<code>&lt;/md-icon&gt;</code>
      <code>&lt;h4 md-line&gt;</code>&#123;&#123;folder.name&#125;&nbsp;&#125;<code>&lt;/h4&gt;</code>
      <code>&lt;p md-line class="demo-2"&gt;</code> &#123;&#123;folder.updated&#125;&nbsp;&#125; <code>&lt;/p&gt;</code>
   <code>&lt;/md-list-item&gt;</code>
   <code>&lt;md-divider&gt;</code><code>&lt;/md-divider&gt;</code>
   <code>&lt;h3 md-subheader&gt;</code>Notes<code>&lt;/h3&gt;</code>
   <code>&lt;md-list-item *ngFor="let note of notes"&gt;</code>
      <code>&lt;md-icon md-list-avatar&gt;</code>note<code>&lt;/md-icon&gt;</code>
      <code>&lt;h4 md-line&gt;</code>&#123;&#123;note.name&#125;&nbsp;&#125;<code>&lt;/h4&gt;</code>
      <code>&lt;p md-line class="demo-2"&gt;</code> &#123;&#123;note.updated&#125;&nbsp;&#125; <code>&lt;/p&gt;</code>
   <code>&lt;/md-list-item&gt;</code>
<code>&lt;/md-list&gt;</code>
            </pre>

          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="API Reference">
    <div class="page-content">
      <md-card class="page-card">
        <md-card-title><code>MdCardModule</code></md-card-title>
        <md-card-content>
          <div class="docs-guide-content">
            <h2>Directives</h2>

            <h3 class="docs-api-h3 docs-api-class-name">MdListDivider</h3>
            <p class="docs-api-class-description"></p>


            <h3 class="docs-api-h3 docs-api-class-name">MdList</h3>
            <p class="docs-api-class-description"></p>


            <h3 class="docs-api-h3 docs-api-class-name">MdListAvatar</h3>
            <p class="docs-api-class-description"></p>


            <h3 class="docs-api-h3 docs-api-class-name">MdListItem</h3>
            <p class="docs-api-class-description"></p>


          </div>

        </md-card-content>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>
