<md-tab-group>
  <md-tab label="Example">
    <div class="page-content">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <md-card fxFlex class="page-card">
          <md-card-title>Tabs</md-card-title>
          <md-card-subtitle>Default material tabs</md-card-subtitle>
          <md-card-content>
            <md-card class="example-md-tabs">
              <md-tab-group>
                <md-tab label="Home">
                  <h2>Sample tabs</h2>
                  <p>
                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro
                    synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                    butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                    squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                    voluptate nisi qui.
                  </p>

                </md-tab>
                <md-tab label="Profile">
                  <h2>Sample tabs</h2>
                  <p>
                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                    Exercitation
                    +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                    craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                    ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                    Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio
                    cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson
                    biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed
                    echo park.
                  </p>
                </md-tab>
                <md-tab label="fat">
                  <h2>Sample tabs</h2>
                  <p>
                    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's
                    organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork
                    tattooed
                    craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR
                    banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever
                    gluten-free,
                    carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't
                    heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                  </p>
                </md-tab>
                <md-tab label="mdo">
                  <h2>Sample tabs</h2>
                  <p>
                    Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master
                    cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party
                    locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before
                    they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade
                    thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park
                    vegan.
                  </p>

                </md-tab>
              </md-tab-group>
            </md-card>
            <br>
            <md-card class="example-md-tabs">
              <md-tab-group>
                <md-tab>
                  <ng-template md-tab-label>
                    Example
                  </ng-template>
                  <h2>Sample tabs</h2>
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                    Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry
                    richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                    apparel, butcher voluptate nisi qui.</p>
                </md-tab>
                <md-tab>
                  <ng-template md-tab-label>
                    <md-icon>account_circle</md-icon>
                  </ng-template>
                  <h2>Sample tabs</h2>
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                    farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
                    jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
                    delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan
                    fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
                    richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
                    tattooed echo park.</p>
                </md-tab>
              </md-tab-group>
            </md-card>
            <br>
            <md-card class="example-md-tabs">
              <md-tab-group>
                <md-tab>
                  <ng-template md-tab-label>
                    <md-icon>home</md-icon>
                  </ng-template>
                  <h2>Sample tabs</h2>
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                    Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry
                    richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                    apparel, butcher voluptate nisi qui.</p>
                </md-tab>
                <md-tab>
                  <ng-template md-tab-label>
                    <md-icon>account_circle</md-icon>
                  </ng-template>
                  <h2>Sample tabs</h2>
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                    farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
                    jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
                    delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan
                    fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
                    richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
                    tattooed echo park.</p>
                </md-tab>
                <md-tab>
                  <ng-template md-tab-label>
                    <md-icon>announcement</md-icon>
                  </ng-template>
                  <h2>Sample tabs</h2>
                  <p>
                    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                    retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft
                    beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy
                    irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free,
                    carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't
                    heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                  </p>
                </md-tab>
              </md-tab-group>
            </md-card>
            <br>
            <md-card class="example-md-tabs">
              <md-tab-group>
                <md-tab>
                  <ng-template md-tab-label>
                    <md-icon class="example-md-icon">home</md-icon> home
                  </ng-template>
                  <h2>Sample tabs</h2>
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                    Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry
                    richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                    apparel, butcher voluptate nisi qui.</p>
                </md-tab>
                <md-tab>
                  <ng-template md-tab-label>
                    <md-icon class="example-md-icon">account_circle</md-icon> account
                  </ng-template>
                  <h2>Sample tabs</h2>
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                    farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
                    jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
                    delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan
                    fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
                    richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
                    tattooed echo park.</p>
                </md-tab>

                <md-tab>
                  <ng-template md-tab-label>
                    <md-icon class="example-md-icon">announcement</md-icon> announcement
                  </ng-template>
                  <h2>Sample tabs</h2>
                  <p>
                    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                    retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft
                    beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy
                    irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free,
                    carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't
                    heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                  </p>
                </md-tab>
              </md-tab-group>
            </md-card>

          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-tab>
  <md-tab label="Overview">
    <div class="page-content">
      <md-card class="page-card">
        <md-card-title><code>MdTabsModule</code>
          <a class="badge" href="https://material.angular.io/components/component/tabs">Official Documentation
          </a>
        </md-card-title>
        <md-card-content>
          <div class="docs-guide-content">
            <p>
              Angular Material tabs organize content into separate views where only one view can be visible at a time.
              Each tab's label is shown in the tab header and the active tab's label
              is designated with the animated ink bar. When the list of tab labels exceeds the width of the header,
              pagination controls appear to let the user scroll left and right across the labels.
            </p>
            <p>
              The active tab may be set using the selectedIndex input or
              when the user selects one of the tab labels in the header.
            </p>
            <h3>Events</h3>
            <p>
              The selectChange output event is emitted when the active tab changes.
            </p>
            <p>
              The focusChange output event is emitted when the user puts focus on any of the tab labels in the header,
              usually through keyboard navigation.
            </p>
            <h3>Labels</h3>
            <p>
              If a tab's label is only text then the simple tab-group API can be used.
            </p>
            <pre>
<code>&lt;md-tab-group&gt;</code>
  <code>&lt;md-tab label="One"&gt;</code>
    <code>&lt;h1&gt;</code>Some tab content<code>&lt;/h1&gt;</code>
    <code>&lt;p&gt;</code>...<code>&lt;/p&gt;</code>
  <code>&lt;/md-tab&gt;</code>
  <code>&lt;md-tab label="Two"&gt;</code>
    <code>&lt;h1&gt;</code>Some more tab content<code>&lt;/h1&gt;</code>
    <code>&lt;p&gt;</code>...<code>&lt;/p&gt;</code>
  <code>&lt;/md-tab&gt;</code>
<code>&lt;/md-tab-group&gt;</code>
            </pre>
            <p>
              For more complex labels, add a template with the <code>md-tab-label</code> directive inside
              the <code>md-tab</code>.
            </p>
            <pre>
<code>&lt;md-tab-group&gt;</code>
  <code>&lt;md-tab&gt;</code>
    <code>&lt;template md-tab-label&gt;</code>
      The <code>&lt;em&gt;</code>best<code>&lt;/em&gt;</code> pasta
    <code>&lt;/template&gt;</code>
    <code>&lt;h1&gt;</code>Best pasta restaurants<code>&lt;/h1&gt;</code>
    <code>&lt;p&gt;</code>...<code>&lt;/p&gt;</code>
  <code>&lt;/md-tab&gt;</code>
  <code>&lt;md-tab&gt;</code>
    <code>&lt;template md-tab-label&gt;</code>
      <code>&lt;md-icon&gt;</code>thumb_down<code>&lt;/md-icon&gt;</code> The worst sushi
    <code>&lt;/template&gt;</code>
    <code>&lt;h1&gt;</code>Terrible sushi restaurants<code>&lt;/h1&gt;</code>
    <code>&lt;p&gt;</code>...<code>&lt;/p&gt;</code>
  <code>&lt;/md-tab&gt;</code>
<code>&lt;/md-tab-group&gt;</code>
            </pre>
            <h3>Dynamic Height</h3>
            <p>
              By default, the tab group will not change its height to the height of the currently active tab. To change
              this, set the dynamicHeight input to true. The tab body will animate its height according to the height of
              the active tab.
            </p>
            <h3>Tabs and navigation</h3>
            <p>
              While <code>&lt;md-tab-group&gt;</code> is used to switch between views within a single route, <code>&lt;nav
              md-tab-nav-bar&gt;</code> provides a tab-like UI for navigating between routes.
            </p>
            <pre>
<code>&lt;nav md-tab-nav-bar&gt;</code>
  <code>&lt;a md-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"&gt;</code>
    &#123;&#123;tabLink.label&#125;&nbsp;&#125;
  <code>&lt;/a&gt;</code>
<code>&lt;/nav&gt;</code>

<code>&lt;router-outlet&gt;</code><code>&lt;/router-outlet&gt;</code>

            </pre>
            <p>
              The <code>tab-nav-bar</code> is not tied to any particular router; it works with normal <code>
              &lt;a&gt;</code> elements and uses the
              active property to determine which tab is currently active. The corresponding
              <code>&lt;router-outlet&gt;</code> can be placed anywhere in the view.
            </p>

          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="API Reference">
    <div class="page-content">
      <md-card class="page-card">
        <md-card-title><code>MdTabsModule</code></md-card-title>
        <md-card-content>
          <div class="docs-guide-content">
            <h2>Directives</h2>

            <h3 class="docs-api-h3 docs-api-class-name">MdInkBar</h3>
            <p class="docs-api-class-description">The ink-bar is used to display and animate the line underneath the
              current active tab label.
            </p>


            <h4 class="docs-api-h4 docs-api-method-header">Methods</h4>

            <table class="docs-api-method-table">
              <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="2" class="docs-api-method-name-cell">alignToElement</th>
              </tr>
              </thead>
              <tr class="docs-api-method-description-row">
                <td colspan="2" class="docs-api-method-description-cell">Calculates the styles from the provided element
                  in order to align the ink-bar to that element.
                  Shows the ink bar if previously set as hidden.
                </td>
              </tr>
              <tr class="docs-api-method-parameters-header-row">
                <th colspan="2" class="docs-api-method-parameters-header-cell">Parameters</th>
              </tr>

              <tr class="docs-api-method-parameter-row">
                <td class="docs-api-method-parameter-cell">
                  <p class="docs-api-method-parameter-name">
                    element</p>
                  <code class="docs-api-method-parameter-type">HTMLElement</code>
                </td>
                <td class="docs-api-method-parameter-description-cell">
                  <p class="docs-api-method-parameter-description"></p>
                </td>
              </tr>
            </table>


            <table class="docs-api-method-table">
              <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="2" class="docs-api-method-name-cell">show</th>
              </tr>
              </thead>
              <tr class="docs-api-method-description-row">
                <td colspan="2" class="docs-api-method-description-cell">Shows the ink bar.
                </td>
              </tr>
            </table>


            <table class="docs-api-method-table">
              <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="2" class="docs-api-method-name-cell">hide</th>
              </tr>
              </thead>
              <tr class="docs-api-method-description-row">
                <td colspan="2" class="docs-api-method-description-cell">Hides the ink bar.
                </td>
              </tr>
            </table>


            <h3 class="docs-api-h3 docs-api-class-name">MdTabBody</h3>
            <p class="docs-api-class-description">Wrapper for the contents of a tab.
            </p>

            <h4 class="docs-api-h4 docs-api-method-header">Properties</h4>
            <table class="docs-api-properties-table">
              <tr class="docs-api-properties-header-row">
                <th class="docs-api-properties-th">Name</th>
                <th class="docs-api-properties-th">Description</th>
              </tr>

              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-output-marker">
                    @Output()
                  </div>
                  <p class="docs-api-property-name">
                    onCentering
                  </p>

                </td>
                <td class="docs-api-property-description">Event emitted when the tab begins to animate towards the
                  center as the active tab.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-output-marker">
                    @Output()
                  </div>
                  <p class="docs-api-property-name">
                    onCentered
                  </p>

                </td>
                <td class="docs-api-property-description">Event emitted when the tab completes its animation towards the
                  center.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-input-marker">@Input(<span class="docs-api-input-alias">&#39;position&#39;</span>)
                  </div>
                  <p class="docs-api-property-name">
                    position
                  </p>

                </td>
                <td class="docs-api-property-description"></td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-input-marker">@Input(<span class="docs-api-input-alias">&#39;origin&#39;</span>)
                  </div>
                  <p class="docs-api-property-name">
                    origin
                  </p>

                </td>
                <td class="docs-api-property-description">The origin position from which this tab should appear when it
                  is centered into view.
                </td>
              </tr>


            </table>


            <h3 class="docs-api-h3 docs-api-class-name">MdTabHeader</h3>
            <p class="docs-api-class-description">The header of the tab group which displays a list of all the tabs in
              the tab group. Includes
              an ink bar that follows the currently selected tab. When the tabs list&#39;s width exceeds the
              width of the header container, then arrows will be displayed to allow the user to scroll
              left and right across the header.
            </p>

            <h4 class="docs-api-h4 docs-api-method-header">Properties</h4>
            <table class="docs-api-properties-table">
              <tr class="docs-api-properties-header-row">
                <th class="docs-api-properties-th">Name</th>
                <th class="docs-api-properties-th">Description</th>
              </tr>

              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-input-marker">
                    @Input()
                  </div>
                  <p class="docs-api-property-name">
                    selectedIndex
                  </p>

                </td>
                <td class="docs-api-property-description">The index of the active tab.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-output-marker">
                    @Output()
                  </div>
                  <p class="docs-api-property-name">
                    selectFocusedIndex
                  </p>

                </td>
                <td class="docs-api-property-description">Event emitted when the option is selected.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-output-marker">
                    @Output()
                  </div>
                  <p class="docs-api-property-name">
                    indexFocused
                  </p>

                </td>
                <td class="docs-api-property-description">Event emitted when a label is focused.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  focusIndex
                </p>

                </td>
                <td class="docs-api-property-description">When the focus index is set, we must manually send focus to
                  the correct label
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  scrollDistance
                </p>

                </td>
                <td class="docs-api-property-description">Sets the distance in pixels that the tab header should be
                  transformed in the X-axis.
                </td>
              </tr>


            </table>


            <h3 class="docs-api-h3 docs-api-class-name">MdTabLabelWrapper</h3>
            <p class="docs-api-class-description">Used in the `md-tab-group` view to display tab labels
            </p>

            <h4 class="docs-api-h4 docs-api-method-header">Properties</h4>
            <table class="docs-api-properties-table">
              <tr class="docs-api-properties-header-row">
                <th class="docs-api-properties-th">Name</th>
                <th class="docs-api-properties-th">Description</th>
              </tr>

              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  elementRef
                </p>

                </td>
                <td class="docs-api-property-description"></td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-input-marker">
                    @Input()
                  </div>
                  <p class="docs-api-property-name">
                    disabled
                  </p>

                </td>
                <td class="docs-api-property-description">Whether the element is disabled.
                </td>
              </tr>


            </table>


            <h4 class="docs-api-h4 docs-api-method-header">Methods</h4>

            <table class="docs-api-method-table">
              <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="2" class="docs-api-method-name-cell">focus</th>
              </tr>
              </thead>
              <tr class="docs-api-method-description-row">
                <td colspan="2" class="docs-api-method-description-cell">Sets focus on the wrapper element
                </td>
              </tr>
            </table>


            <table class="docs-api-method-table">
              <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="2" class="docs-api-method-name-cell">getOffsetLeft</th>
              </tr>
              </thead>
              <tr class="docs-api-method-description-row">
                <td colspan="2" class="docs-api-method-description-cell"></td>
              </tr>
              <tr class="docs-api-method-returns-header-row">
                <th colspan="2" class="docs-api-method-returns-header-cell">Returns</th>
              </tr>
              <tr>
                <td class="docs-api-method-returns-type-cell">
                  <code class="docs-api-method-returns-type">number</code>
                </td>
                <td class="docs-api-method-returns-description-cell">
                  <p class="docs-api-method-returns-description"></p>
                </td>
              </tr>
            </table>


            <table class="docs-api-method-table">
              <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="2" class="docs-api-method-name-cell">getOffsetWidth</th>
              </tr>
              </thead>
              <tr class="docs-api-method-description-row">
                <td colspan="2" class="docs-api-method-description-cell"></td>
              </tr>
              <tr class="docs-api-method-returns-header-row">
                <th colspan="2" class="docs-api-method-returns-header-cell">Returns</th>
              </tr>
              <tr>
                <td class="docs-api-method-returns-type-cell">
                  <code class="docs-api-method-returns-type">number</code>
                </td>
                <td class="docs-api-method-returns-description-cell">
                  <p class="docs-api-method-returns-description"></p>
                </td>
              </tr>
            </table>


            <h3 class="docs-api-h3 docs-api-class-name">MdTab</h3>
            <p class="docs-api-class-description"></p>

            <h4 class="docs-api-h4 docs-api-method-header">Properties</h4>
            <table class="docs-api-properties-table">
              <tr class="docs-api-properties-header-row">
                <th class="docs-api-properties-th">Name</th>
                <th class="docs-api-properties-th">Description</th>
              </tr>

              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  templateLabel
                </p>

                </td>
                <td class="docs-api-property-description">Content for the tab label given by &lt;template md-tab-label&gt;.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-input-marker">@Input(<span class="docs-api-input-alias">&#39;label&#39;</span>)
                  </div>
                  <p class="docs-api-property-name">
                    textLabel
                  </p>

                </td>
                <td class="docs-api-property-description">The plain text label for the tab, used when there is no
                  template label.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  content
                </p>

                </td>
                <td class="docs-api-property-description"></td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  position
                </p>

                </td>
                <td class="docs-api-property-description">The relatively indexed position where 0 represents the center,
                  negative is left, and positive
                  represents the right.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  origin
                </p>

                </td>
                <td class="docs-api-property-description">The initial relatively index origin of the tab if it was
                  created and selected after there
                  was already a selected tab. Provides context of what position the tab should originate from.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-input-marker">
                    @Input()
                  </div>
                  <p class="docs-api-property-name">
                    disabled
                  </p>

                </td>
                <td class="docs-api-property-description">Whether the tab is disabled
                </td>
              </tr>


            </table>


            <h3 class="docs-api-h3 docs-api-class-name">MdTabLabel</h3>
            <p class="docs-api-class-description">Used to flag tab labels for use with the portal directive
            </p>


            <h3 class="docs-api-h3 docs-api-class-name">MdTabGroup</h3>
            <p class="docs-api-class-description">Material design tab-group component. Supports basic tab pairs (label +
              content) and includes
              animated ink-bar, keyboard navigation, and screen reader.
              See: https://www.google.com/design/spec/components/tabs.html
            </p>

            <h4 class="docs-api-h4 docs-api-method-header">Properties</h4>
            <table class="docs-api-properties-table">
              <tr class="docs-api-properties-header-row">
                <th class="docs-api-properties-th">Name</th>
                <th class="docs-api-properties-th">Description</th>
              </tr>

              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-input-marker">
                    @Input()
                  </div>
                  <p class="docs-api-property-name">
                    dynamicHeight
                  </p>

                </td>
                <td class="docs-api-property-description"></td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-input-marker">
                    @Input()
                  </div>
                  <p class="docs-api-property-name">
                    selectedIndex
                  </p>

                </td>
                <td class="docs-api-property-description">The index of the active tab.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-output-marker">
                    @Output()
                  </div>
                  <p class="docs-api-property-name">
                    selectedIndexChange
                  </p>

                </td>
                <td class="docs-api-property-description">Output to enable support for two-way binding on
                  `selectedIndex`.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-output-marker">
                    @Output()
                  </div>
                  <p class="docs-api-property-name">
                    focusChange
                  </p>

                </td>
                <td class="docs-api-property-description">Event emitted when focus has changed within a tab group.
                </td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell">
                  <div class="docs-api-output-marker">
                    @Output()
                  </div>
                  <p class="docs-api-property-name">
                    selectChange
                  </p>

                </td>
                <td class="docs-api-property-description">Event emitted when the tab selection has changed.
                </td>
              </tr>


            </table>


            <h2>Additional classes</h2>

            <h3 class="docs-api-h3 docs-api-class-name">MdTabChangeEvent</h3>
            <p class="docs-api-class-description">A simple change event emitted on focus or selection changes.
            </p>

            <h4 class="docs-api-h4 docs-api-method-header">Properties</h4>
            <table class="docs-api-properties-table">
              <tr class="docs-api-properties-header-row">
                <th class="docs-api-properties-th">Name</th>
                <th class="docs-api-properties-th">Description</th>
              </tr>

              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  index
                </p>

                </td>
                <td class="docs-api-property-description"></td>
              </tr>


              <tr class="docs-api-properties-row">
                <td class="docs-api-properties-name-cell"><p class="docs-api-property-name">
                  tab
                </p>

                </td>
                <td class="docs-api-property-description"></td>
              </tr>


            </table>


          </div>

        </md-card-content>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>
