<!--Top toolbar-->
<mat-toolbar *ngIf="!appService.getState().pageFullscreen" class="topnav-container" color="primary">
  <!--Side Nav Button-->
  <a mat-icon-button class="topnav-menu-btn" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </a>
  <!--Application Title-->
  <span class="topnav-title">
    <img src="assets/img/logo-half-light.svg"
         *ngIf="appService.getState().sidenavMode === 'side'">
    {{appService.getState().topnavTitle}}</span>
  <span class="toolbar-filler"></span>
  <!--Apps Menu-->
  <span fxShow.sm="false" fxShow.xs="false">
  <a mat-icon-button
     (click)="toggleTopnavSearch()">
    <mat-icon>search</mat-icon>
  </a>
  </span>
  <div class="topnav-search" fxShow.sm="false" fxShow.xs="false">
    <!--<mat-form-field>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    </mat-form-field>

    <mat-autocomplete [class.show]="showTopnavSearch" [items]="searchItems" item-text="title" item-value="link" (blur)="alert('xxx')"
      (change)="selectedSearchItem($event)" [(ngModel)]="searchItem">
    </mat-autocomplete>-->
  </div>
  <span fxShow.sm="false" fxShow.xs="false">
  <a mat-icon-button (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </a>
  </span>
  <span fxShow.sm="false" fxShow.xs="false">
  <a mat-icon-button [mat-menu-trigger-for]="topnavAppsMenu">
    <span class="notify">6</span>
  <mat-icon>apps</mat-icon>
  </a>
  </span>
  <mat-menu #topnavAppsMenu="matMenu">
    <div class="menu-card">
      <div>
        <a class="menu-block-btn"><img src="assets/img/icon-atom.png"><span>Atom</span></a>
        <a class="menu-block-btn"><img src="assets/img/icon-bootstrap.png"><span>Bootstrap</span></a>
        <a class="menu-block-btn"><img src="assets/img/icon-ts.png"><span>TypeScript</span></a>
      </div>
      <div>
        <a class="menu-block-btn"><img src="assets/img/icon-facebook.png"><span>Facebook</span></a>
        <a class="menu-block-btn"><img src="assets/img/icon-google.png"><span>Google</span></a>
        <a class="menu-block-btn"><img src="assets/img/icon-swift.png"><span>Swift</span></a>
      </div>
      <a class="menu-block-bottom-btn">More</a>
    </div>
  </mat-menu>
  <!--Notifications Menu-->
  <a mat-icon-button [mat-menu-trigger-for]="topnavNotificationsMenu">
    <span class="notify">3</span>
    <mat-icon>notifications</mat-icon>
  </a>
  <mat-menu #topnavNotificationsMenu="matMenu">
    <div class="menu-card">
      <mat-list>
        <mat-list-item>
          <img mat-list-avatar src="assets/img/avatar3.png" alt="...">
          <h3 mat-line> Tim Max <span class="pull-right"> <small>just now</small></span></h3>
          <p mat-line>
            <span> <small>Make some fun tonight?</small></span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img mat-list-avatar src="assets/img/avatar.jpg" alt="...">
          <h3 mat-line> Chiho Sin <span class="pull-right"> <small>2 min ago</small></span></h3>
          <p mat-line>
            <span> <small>Hello!</small></span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img mat-list-avatar src="assets/img/avatar1.png" alt="...">
          <h3 mat-line> Alex Chan <span class="pull-right"> <small>8 min ago</small></span></h3>
          <p mat-line>
            <span> <small>I'm finish my job!</small></span>
          </p>
        </mat-list-item>
      </mat-list>
      <a class="menu-block-bottom-btn">View all</a>
    </div>
  </mat-menu>
  <!--User Menu-->
  <a mat-icon-button [mat-menu-trigger-for]="topnavUserMenu">
    <img class="topnav-avatar" src="assets/img/avatar.jpg">
  </a>
  <mat-menu #topnavUserMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span></button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Setting</span></button>
    <button mat-menu-item>
      <mat-icon>lock_outline</mat-icon>
      <span>Lock</span></button>
  </mat-menu>
  <a mat-icon-button (click)="toggleMessagePanel()">
    <mat-icon>list</mat-icon>
  </a>
</mat-toolbar>
<!--Page container-->
<mat-sidenav-container>

  <!--Side nva bar-->
  <mat-sidenav [class.sidenav-collapse]="appService.getState().sidenavCollapse" *ngIf="!appService.getState().pageFullscreen"
    mode="{{appService.getState().sidenavMode}}" opened="{{ appService.getState().sidenavOpen }}" align="start" (close)="closeSidenav()"
    (open)="openSidenav()" (mouseout)="toggleSidenavCollapse()">
    <div class="sidenav-container">
      <mat-nav-list *ngIf="mainMenu">
        <ng-template ngFor let-menuItem [ngForOf]="mainMenu">
          <ng-template [ngIf]="!menuItem.sub">
            <mat-list-item (click)="toggleSidenavMenu(menuItem.name, false, false)" routerLink="{{menuItem.link}}" routerLinkActive="active">
              <a mat-line>
                <i class="material-icons" aria-hidden="true" *ngIf="menuItem.matIcon">{{menuItem.matIcon}}</i>
                <i class="fa fa-lg {{menuItem.faIcon}}" aria-hidden="true" *ngIf="menuItem.faIcon && !menuItem.matIcon"></i>                &nbsp;&nbsp;
                <span class="sidenav-collapse-item">{{menuItem.title}}</span></a>
              <span *ngIf="menuItem.notifyContent" class="{{menuItem.notifyClass}}">{{menuItem.notifyContent}}</span>
            </mat-list-item>
          </ng-template>
          <ng-template [ngIf]="menuItem.sub">
            <mat-list-item (click)="toggleSidenavMenu(menuItem.name, false, true)" [class.active]="activeSubMenuName === menuItem.name">
              <a mat-line>
                <i class="material-icons" aria-hidden="true" *ngIf="menuItem.matIcon">{{menuItem.matIcon}}</i>
                <i class="fa fa-lg {{menuItem.faIcon}}" aria-hidden="true" *ngIf="menuItem.faIcon && !menuItem.matIcon"></i>                &nbsp;&nbsp;
                <span class="sidenav-collapse-item">{{menuItem.title}}</span></a>
              <span *ngIf="menuItem.notifyContent" class="{{menuItem.notifyClass}}">{{menuItem.notifyContent}}</span>
              <i *ngIf="activeSubMenuName === menuItem.name" class="material-icons sidenav-collapse-item">expand_more</i>
              <i *ngIf="activeSubMenuName !== menuItem.name" class="material-icons sidenav-collapse-item">chevron_right</i>
            </mat-list-item>
            <mat-list-item class="sidenav-menu-sub" *ngFor="let subMenuItem of menuItem.sub" (click)="toggleSidenavMenu(subMenuItem.name, true, false )"
              [class.show]="activeSubMenuName === menuItem.name" routerLink="{{subMenuItem.link}}" routerLinkActive="active">
              <a mat-line class="sidenav-menu-sub-title"><span class="sidenav-collapse-item">{{subMenuItem.title}}</span></a>
              <i class="material-icons sidenav-collapse-item">chevron_right</i>
            </mat-list-item>
          </ng-template>
        </ng-template>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav *ngIf="!appService.getState().pageFullscreen" mode="over" opened="{{ appService.getState().messagePanelOpen }}"
    align="end" (close)="closeMessagePanel()" (open)="openMessagePanel()">
    <div class="message-panel">
      <mat-tab-group>
        <mat-tab label="Today">
          <div class="page-content">
            <!--<h4>{{ date | date:'EEEE, HH:mm:ss' }}</h4>-->
            <div class="time-panel">
              <p>{{ date | date:'MMMM' }}</p>
              <p>{{ date | date:'d' }}</p>
              <p>{{ date | date:'y' }}</p>
            </div>
            <mat-list>
              <mat-divider></mat-divider>
              <h3 mat-subheader>Events</h3>
              <mat-list-item>
                <mat-icon mat-list-avatar style="color: red">fiber_manual_record</mat-icon>
                <h4 mat-line>Mail server shutdown</h4>
                <p mat-line>Just now</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar style="color: yellow">fiber_manual_record</mat-icon>
                <h4 mat-line>Redis caches flush</h4>
                <p mat-line>3 minute ago</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar style="color: gray">fiber_manual_record</mat-icon>
                <h4 mat-line>Create ETL tasks</h4>
                <p mat-line>1 hour ago</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar style="color: green">fiber_manual_record</mat-icon>
                <h4 mat-line>Eureka service startup</h4>
                <p mat-line>3 day ago</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 mat-subheader>Tasks</h3>
              <mat-list-item>
                <mat-icon mat-list-avatar>restore</mat-icon>
                <h4 mat-line>Database Backup</h4>
                <p mat-line>Processing</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar>timeline</mat-icon>
                <h4 mat-line>ETL Tasks</h4>
                <p mat-line>Waiting</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar>sync</mat-icon>
                <h4 mat-line>Cleanup caches</h4>
                <p mat-line>Finished</p>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-tab>
        <mat-tab label="Messages">
          <div class="page-content">
            <mat-list>
              <h3 mat-subheader>Friends</h3>
              <mat-list-item>
                <img mat-list-avatar src="assets/img/avatar3.png" alt="...">
                <h3 mat-line> Tim Max <span class="pull-right"> <small>just now</small></span></h3>
                <p mat-line>
                  <span> <small>Make some fun tonight?</small></span>
                </p>
              </mat-list-item>
              <mat-list-item>
                <img mat-list-avatar src="assets/img/avatar.jpg" alt="...">
                <h3 mat-line> Chiho Sin <span class="pull-right"> <small>2 min ago</small></span></h3>
                <p mat-line>
                  <span> <small>Hello!</small></span>
                </p>
              </mat-list-item>
              <mat-list-item>
                <img mat-list-avatar src="assets/img/avatar1.png" alt="...">
                <h3 mat-line> Alex Chan <span class="pull-right"> <small>8 min ago</small></span></h3>
                <p mat-line>
                  <span> <small>I'm finish my job!</small></span>
                </p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 mat-subheader>Server monitor</h3>
              <mat-list-item>
                <h3 mat-line> CPU <span class="pull-right"> <small>32%</small></span></h3>
                <p mat-line>
                  <mat-progress-bar value="32" mode="determinate"></mat-progress-bar>
                </p>
              </mat-list-item>
              <mat-list-item>
                <h3 mat-line> RAM <span class="pull-right"> <small>76%</small></span></h3>
                <p mat-line>
                  <mat-progress-bar value="76" mode="determinate" color="accent"></mat-progress-bar>
                </p>
              </mat-list-item>
              <mat-list-item>
                <h3 mat-line> DISK <span class="pull-right"> <small>7%</small></span></h3>
                <p mat-line>
                  <mat-progress-bar value="7" mode="determinate" color="warn"></mat-progress-bar>
                </p>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav>

  <!--Page content-->
  <div [class.page-container]="!appService.getState().pageFullscreen">
    <router-outlet></router-outlet>
    <!--Page footer-->
    <mat-toolbar class="page-footer" *ngIf="appService.getState().pageFooter">
      © 2016 Lokra Studio.
      <span class="filler"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
    </mat-toolbar>
  </div>
</mat-sidenav-container>
<button mat-fab color="warn" style="position: absolute;bottom: 16px;right: 16px;z-index: 5;" (click)="openThemeDialog()">
  <mat-icon>brush</mat-icon>
</button>
