<div class="sign-container">
  <div class="sign-background"></div>
  <md-card class="sign-card">
    <md-card-title><img style="height: 64px;" src="assets/img/logo-full.svg"></md-card-title>
    <md-card-subtitle>Please enter your user information.</md-card-subtitle>
    <br>
    <md-card-content>
      <md-input-container>
        <input mdInput type="text" placeholder="Username" value="">
      </md-input-container>
      <md-input-container>
        <input mdInput type="email" placeholder="Email" value="">
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" placeholder="Password" value="">
      </md-input-container>
      <md-checkbox>
        <h5>
          <small>Agree the terms and conditions</small>
        </h5>
      </md-checkbox>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary">SUBMIT</button>
      <br>
      <br>
      <button md-icon-button><i class="fa fa-2x fa-facebook"></i></button>
      <button md-icon-button><i class="fa fa-2x fa-google"></i></button>
      <button md-icon-button><i class="fa fa-2x fa-twitter"></i></button>
      <button md-icon-button><i class="fa fa-2x fa-wechat"></i></button>
    </md-card-actions>
  </md-card>
</div>
