<div class="sign-container">
  <div class="sign-background"></div>
  <mat-card class="sign-card">
    <mat-card-title><img style="height: 64px;" src="assets/img/logo-full.svg"></mat-card-title>
    <mat-card-subtitle>Please enter your user information.</mat-card-subtitle>
    <br>
    <mat-card-content>
      <mat-input-container>
        <input matInput type="text" placeholder="Username" value="">
      </mat-input-container>
      <mat-input-container>
        <input matInput type="email" placeholder="Email" value="">
      </mat-input-container>
      <mat-input-container>
        <input matInput type="password" placeholder="Password" value="">
      </mat-input-container>
      <mat-checkbox>
        <h5>
          <small>Agree the terms and conditions</small>
        </h5>
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">SUBMIT</button>
      <br>
      <br>
      <button mat-icon-button><i class="fa fa-2x fa-facebook"></i></button>
      <button mat-icon-button><i class="fa fa-2x fa-google"></i></button>
      <button mat-icon-button><i class="fa fa-2x fa-twitter"></i></button>
      <button mat-icon-button><i class="fa fa-2x fa-wechat"></i></button>
    </mat-card-actions>
  </mat-card>
</div>
