<h1 mat-dialog-title>Theme</h1>
<div mat-dialog-content>
  <mat-slide-toggle
    [color]="'primary'"
    [checked]="collapseSidenavChecked"
    (change)="toggleCollapseSidenav()">Collapse Sidenav
  </mat-slide-toggle>
  <br>
  <mat-select placeholder="Theme" [(ngModel)]="appService.getState().darkMode" (change)="toggleTheme()"
             style="width: 100%;">
    <mat-option [value]="false">Light</mat-option>
    <mat-option [value]="true">Dark</mat-option>
  </mat-select>
  <br>
  <br>
  <br>
  <mat-select placeholder="Language" [(ngModel)]="appService.getState().defaultLang" (change)="toggleLang()"
             style="width: 100%;">
    <mat-option [value]="'en'">en</mat-option>
    <mat-option [value]="'zh-cn'">zh-cn</mat-option>
  </mat-select>
  <br>
</div>
