<div class="page-content">
  <mat-card class="page-card" fxFlexOffset="15" fxFlex="70">
    <mat-card-title>Auto complete
      <a class="badge" href="https://github.com/Promact/mat/tree/master/src/lib/autocomplete">Official Documentation</a>
    </mat-card-title>
    <mat-card-content>
      <h4><code>Example</code></h4>
      <mat-autocomplete
        [items]="items"
        item-text="title"
        item-value="link"
        [(ngModel)]="item">
      </mat-autocomplete>
    </mat-card-content>
  </mat-card>
</div>
