<div class="page-content">
  <md-card class="page-card" fxFlexOffset="15" fxFlex="70">
    <md-card-title>Auto complete
      <a class="badge" href="https://github.com/Promact/md2/tree/master/src/lib/autocomplete">Official Documentation</a>
    </md-card-title>
    <md-card-content>
      <h4><code>Example</code></h4>
      <md2-autocomplete
        [items]="items"
        item-text="title"
        item-value="link"
        [(ngModel)]="item">
      </md2-autocomplete>
    </md-card-content>
  </md-card>
</div>
