<div class="sign-container">
  <div class="sign-background"></div>
  <mat-card class="sign-card">
    <mat-card-title><img style="height: 64px;" src="assets/img/logo-full.svg"></mat-card-title>
    <mat-card-subtitle>Sign in to continue.</mat-card-subtitle>
    <br>
    <mat-card-content>
      <mat-input-container>
        <input matInput type="text" placeholder="Username or email address" value="">
      </mat-input-container>
      <mat-input-container>
        <input matInput type="password" placeholder="Password" value="">
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">LOGIN</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <p>Don't have an account? <a>Sign Up</a></p>
</div>
