<div class="sign-container">
  <div class="sign-background"></div>
  <md-card class="sign-card">
    <md-card-title><img style="height: 64px;" src="assets/img/logo-full.svg"></md-card-title>
    <md-card-subtitle>Sign in to continue.</md-card-subtitle>
    <br>
    <md-card-content>
      <md-input-container>
        <input mdInput type="text" placeholder="Username or email address" value="">
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" placeholder="Password" value="">
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary">LOGIN</button>
    </md-card-actions>
  </md-card>
  <br>
  <p>Don't have an account? <a>Sign Up</a></p>
</div>
