<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="page-card-flexible-title">Wizard</h1>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<mat-card class="page-card page-card-flexible-tabs" fxFlexOffset="15" fxFlex="70">
  <mat-card-content>
    <mat-tab-group selectedIndex="{{selectIndex}}">
      <mat-tab disabled label="Step 1">
        <div class="tab-body-content">
          <h4>
            <small>Please input your phone number</small>
          </h4>
          <mat-input-container>
            <input matInput placeholder="Phone number" type="tel" [(ngModel)]="phone" name="phone" required>
          </mat-input-container>
        </div>
      </mat-tab>
      <mat-tab disabled label="Step 2">
        <div class="tab-body-content">
          <h4>
            <small>Please input your mail address</small>
          </h4>
          <mat-input-container>
            <input matInput placeholder="E-Mail" type="email" [(ngModel)]="email" name="email" required>
          </mat-input-container>
        </div>
      </mat-tab>
      <mat-tab disabled label="Step 3">
        <div class="tab-body-content">
          <h4>Success sign in.</h4>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="selectIndex <= 0" (click)="selectIndex = selectIndex - 1">PREV</button>
    <button mat-raised-button [disabled]="selectIndex >= 2" (click)="selectIndex = selectIndex + 1">NEXT</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
