<div class="page-content">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxFlex>
    <lk-chart-tile
      [title]="'New Users'"
      [value]="'678'"
      [valueTrending]="'up'"
      [color]="'#46be8a'"
      [chartType]="'line'"
      [chartData]="[5,3,4,6,5,4,7,3,5,9]"
      [chartOptions]="{fill: ['none'],stroke: '#46be8a',strokeWidth: 2,height: 52, width: 86}"
      fxFlex="25"
    ></lk-chart-tile>
    <lk-chart-tile
      [title]="'Downloads'"
      [value]="'82.3k'"
      [valueTrending]="'down'"
      [color]="'#ffd740'"
      [chartType]="'bar'"
      [chartData]="[5,3,9,6,5,9,7,3,5,2]"
      [chartOptions]="{fill: ['#ffd740']}"
      fxFlex="25"
    ></lk-chart-tile>
    <lk-info-tile
      [title]="'Database'"
      [description]="'Backup Now'"
      [iconClass]="'fa fa-database'"
      [backgroundStyle]="'linear-gradient(45deg, rgb(161, 89, 255) 0px, rgb(34, 121, 255) 100%)'"
      fxFlex="25"
    ></lk-info-tile>
    <lk-info-tile
      [title]="'Chats'"
      [description]="'32 Waiting'"
      [iconClass]="'fa fa-comments-o'"
      [backgroundStyle]="'linear-gradient(45deg, rgb(216, 88, 88) 0px, rgb(255, 153, 153) 100%)'"
      fxFlex="25"
    ></lk-info-tile>
  </div>
  <div class="page-content">
    <section class="bs">
      <div class="alert bg-primary alert-dismissible">
        <strong>Great Job!</strong> {{ 'DASHBOARD.ALERT' | translate }}
        <a class="alert-link"
           href="https://themeforest.net/item/lokra-angular-2-admin-template-with-material-design/19294993">Buy Now!</a>.
      </div>
    </section>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxFlex>
    <mat-card class="page-card card-content-full" fxFlex="70">
      <mat-card-title>
        <span>{{ 'DASHBOARD.CHART-TITLE-1' | translate }}</span>
        <span class="card-title-filler"></span>
        <mat-chip-list>
          <mat-chip>Week</mat-chip>
          <mat-chip>Month</mat-chip>
          <mat-chip color="accent" selected="true">Year</mat-chip>
          <mat-chip>Today</mat-chip>
        </mat-chip-list>
        <a class="card-title-menu" mat-ripple [mat-menu-trigger-for]="clusterLoadMenu">
          <i class="material-icons">more_vert</i>
        </a>
        <mat-menu #clusterLoadMenu="matMenu">
          <button mat-menu-item>Pause</button>
          <button mat-menu-item>Refresh</button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>
        <div class="counter-group">
          <div class="counter">
            <div class="value">27%</div>
            <div class="desc"><i class="fa fa-circle" style="color: rgba(0, 121, 107, 0.66);"></i> CPU TIME</div>
          </div>
          <div class="counter">
            <div class="value">58%</div>
            <div class="desc"><i class="fa fa-circle" style="color: rgba(25, 118, 210, 0.66);"></i> MEMORY</div>
          </div>
          <div class="counter">
            <div class="value">81%</div>
            <div class="desc"><i class="fa fa-circle" style="color: rgba(211, 47, 47, 0.66);"></i> NETWORK</div>
          </div>
        </div>
      </mat-card-subtitle>
      <lk-chart-js
        [type]="clusterLoadChartType"
        [data]="clusterLoadChartData"
        [options]="clusterLoadChartOptions"
        [syncData]="clusterLoadChartSyncData"
        [height]="280"
      ></lk-chart-js>
    </mat-card>
    <mat-card class="page-card card-content-full" fxFlex="30">
      <mat-card-title class="text-center">
        <span>{{ 'DASHBOARD.CHART-TITLE-2' | translate }}</span>
        <span class="card-title-filler"></span>
        <a class="card-title-menu" mat-ripple [mat-menu-trigger-for]="cardTitleMenu">
          <i class="material-icons">more_vert</i>
        </a>
        <mat-menu #cardTitleMenu="matMenu">
          <button mat-menu-item>Item</button>
          <button mat-menu-item>Item</button>
          <button mat-menu-item>Item</button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>
        <h4 class="text-center">
          <small>LVM /dev/sda1</small>
        </h4>
      </mat-card-subtitle>
      <lk-chart-js
        [type]="storageChart.type"
        [data]="storageChart.data"
        [options]="storageChart.options"
        [height]="180"
      ></lk-chart-js>
      <div class="counter-group counter-group-bottom">
        <div class="counter-label">
          <p>Total <i class="fa fa-circle" style="color: rgba(0, 150, 136,0.3);"></i></p>
          <p>Cached <i class="fa fa-circle" style="color: rgba(0, 150, 136,0.5);"></i></p>
          <p>Used <i class="fa fa-circle" style="color: rgba(0, 150, 136,0.7);"></i></p>
        </div>
        <div class="counter-value">
          <p>10 TB</p>
          <p>63.6 GB</p>
          <p>3.2 GB</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxFlex>
    <mat-card class="page-card card-content-full card-content-tabs" fxFlex>
      <mat-tab-group>
        <mat-tab label="Progress">
          <mat-list>
            <mat-list-item>
              <h3 mat-line>Current Project</h3>
              <p mat-line>
                <small>60%</small>
              </p>
              <p mat-line>
                <mat-progress-bar
                  [mode]="'buffer'"
                  [value]="30"
                  [bufferValue]="60">
                </mat-progress-bar>
              </p>
            </mat-list-item>
            <mat-list-item>
              <h3 mat-line>Sever Task</h3>
              <p mat-line>
                <small>70%</small>
              </p>
              <p mat-line>
                <mat-progress-bar
                  [mode]="'determinate'"
                  [value]="70">
                </mat-progress-bar>
              </p>
            </mat-list-item>
            <mat-list-item>
              <h3 mat-line>Database Backup</h3>
              <p mat-line>
                <small>Waiting</small>
              </p>
              <p mat-line>
                <mat-progress-bar
                  [mode]="'indeterminate'">
                </mat-progress-bar>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Member">
          <mat-list>
            <mat-list-item>
              <img mat-list-avatar src="assets/img/avatar3.png" alt="...">
              <h3 mat-line> Tim Max <span class="pull-right"> <small>just now</small></span></h3>
              <p mat-line>
                <span> <small>Make some fun tonight?</small></span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar src="assets/img/avatar.jpg" alt="...">
              <h3 mat-line> Chiho Sin <span class="pull-right"> <small>2 min ago</small></span></h3>
              <p mat-line>
                <span> <small>Hello!</small></span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar src="assets/img/avatar1.png" alt="...">
              <h3 mat-line> Alex Chan <span class="pull-right"> <small>8 min ago</small></span></h3>
              <p mat-line>
                <span> <small>I'm finish my job!</small></span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <mat-card class="page-card card-content-full widget-weather"
             style="background-image: url(assets/img/gallery/img11.jpg);background-size: cover;"
             fxFlex>
      <mat-card-title>
        New York
        <p>
          Thursday 12:00 PM
        </p>
        <p>
          Partly Cloudy
        </p>
      </mat-card-title>
      <mat-card-content>
        <div class="weather-background">
          <div class="weather-background-mask"></div>
        </div>
        <div class="weather-main"><i class="wi wi-cloudy-windy"></i>
          <p>22
            <small>°C</small>
          </p>
          <span>Precipitation 0%</span>
          <span>Humidity 90%</span>
          <span>Wind 5 km/h</span>
        </div>
        <div class="weather-forecast" fxFlex fxLayout="row">
          <div class="weather-forecast-info" fxFlex>
            <p>Thu</p>
            <i class="wi wi-smog"></i>
            <p><span>13°C</span><span>11°C</span></p>
          </div>
          <div class="weather-forecast-info" fxFlex>
            <p>Fri</p>
            <i class="wi wi-sandstorm"></i>
            <p><span>11°C</span><span>9°C</span></p>
          </div>
          <div class="weather-forecast-info" fxFlex>
            <p>Sat</p>
            <i class="wi wi-day-rain"></i>
            <p><span>13°C</span><span>10°C</span></p>
          </div>
          <div class="weather-forecast-info" fxFlex>
            <p>Sun</p>
            <i class="wi wi-rain"></i>
            <p><span>12°C</span><span>11°C</span></p>
          </div>
          <div class="weather-forecast-info" fxFlex>
            <p>Mon</p>
            <i class="wi wi-rain-mix"></i>
            <p><span>9°C</span><span>7°C</span></p>
          </div>
          <div class="weather-forecast-info" fxFlex>
            <p>Tue</p>
            <i class="wi wi-rain-wind"></i>
            <p><span>8°C</span><span>5°C</span></p>
          </div>
          <div class="weather-forecast-info" fxFlex>
            <p>Wed</p>
            <i class="wi wi-snow-wind"></i>
            <p><span>7°C</span><span>6°C</span></p>
          </div>
          <div class="weather-forecast-info" fxFlex>
            <p>Thu</p>
            <i class="wi wi-snow"></i>
            <p><span>8°C</span><span>7°C</span></p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxFlex>
    <mat-card class="page-card card-content-full widget-table" fxFlex>
      <mat-card-title><span mat-line>Project</span>
        <span class="card-title-fillers"></span>
        <button class="card-title-menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>Git milestone</mat-card-subtitle>
      <section class="bs">
        <table class="table table-striped table-hover table-card">
          <thead>
          <tr>
            <th style="width:20%;">User</th>
            <th style="width:15%;">Milestone</th>
            <th style="width:10%;">Branch</th>
            <th style="width:10%;">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="user-avatar cell-detail cell-avatar">
              <img src="assets/img/avatar.jpg">
              <span>Benji Harper</span><span
              class="cell-detail-description">Designer</span></td>
            <td>
              <span class="completed">22 / 30</span>
              <div class="progress">
                <div style="width: 75%" class="progress-bar bg-warning"></div>
              </div>
            </td>
            <td class="cell-detail"><span>develop</span><span class="cell-detail-description">4cc1bc2</span></td>
            <td class="cell-detail"><span>April 22, 2016</span><span class="cell-detail-description">14:45</span>
            </td>
          </tr>
          <tr>
            <td class="user-avatar cell-detail cell-avatar">
              <img src="assets/img/avatar1.png">
              <span>Alex Chan</span><span
              class="cell-detail-description">Developer</span></td>
            <td>
              <span class="completed">8 / 15</span>
              <div class="progress">
                <div style="width: 25%" class="progress-bar bg-warning"></div>
              </div>
            </td>
            <td class="cell-detail"><span>develop</span><span class="cell-detail-description">63e8ec3</span></td>
            <td class="cell-detail"><span>April 22, 2016</span><span class="cell-detail-description">14:45</span>
            </td>
          </tr>
          <tr>
            <td class="user-avatar cell-detail cell-avatar">
              <img src="assets/img/avatar2.png">
              <span>Justine Clifford</span><span
              class="cell-detail-description">Designer</span></td>
            <td>
              <span class="completed">1/ 12</span>
              <div class="progress">
                <div style="width: 12%" class="progress-bar bg-warning"></div>
              </div>
            </td>
            <td class="cell-detail"><span>master</span><span class="cell-detail-description">8cb98ec</span></td>
            <td class="cell-detail"><span>April 22, 2016</span><span class="cell-detail-description">13:02</span>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxFlex>
    <div fxLayout="column" fxFlex="70" fxFlexAlign="start">
      <mat-card class="page-card card-content-full" fxFlex>
        <mat-card-title><span mat-line>Lokra Studio</span>
          <span class="card-title-fillers"></span>
          <button class="card-title-menu" mat-icon-button>
            <mat-icon>location_searching</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>Tianhe SQ. Guangzhou GD, China</mat-card-subtitle>
        <sebm-google-map [latitude]="23.1221926" [longitude]="113.4048019" [zoom]="13" style="height: 320px">
        </sebm-google-map>
      </mat-card>
      <mat-card class="page-card card-content-full" fxFlex>
        <mat-card-title>
          <span>Commit</span>
          <span class="card-title-filler"></span>
          <a class="card-title-menu" mat-ripple [mat-menu-trigger-for]="cardTitleMenu">
            <i class="material-icons">more_vert</i>
          </a>
          <mat-menu #cardTitleMenu="matMenu">
            <button mat-menu-item>Item</button>
            <button mat-menu-item>Item</button>
            <button mat-menu-item>Item</button>
          </mat-menu>
        </mat-card-title>
        <lk-chart-js
          [type]="parjectChart.type"
          [data]="parjectChart.data"
          [options]="parjectChart.options"
          [height]="100"
        ></lk-chart-js>
        <section class="bs">
          <table class="table table-striped table-hover table-card">
          <thead>
          <tr>
            <th style="width:20%;">User</th>
            <th style="width:15%;">Milestone</th>
            <th style="width:10%;">Branch</th>
            <th style="width:10%;">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="user-avatar cell-detail cell-avatar">
              <img src="assets/img/avatar1.png">
              <span>Benji Harper</span><span
              class="cell-detail-description">Designer</span></td>
            <td>
              <span class="completed">22 / 30</span>
              <div class="progress">
                <div style="width: 75%" class="progress-bar progress-bar-primary"></div>
              </div>
            </td>
            <td class="cell-detail"><span>develop</span><span class="cell-detail-description">4cc1bc2</span></td>
            <td class="cell-detail"><span>April 22, 2016</span><span class="cell-detail-description">14:45</span>
            </td>
          </tr>
          <tr>
            <td class="user-avatar cell-detail cell-avatar">
              <img src="assets/img/avatar2.png">
              <span>Alex Chan</span><span
              class="cell-detail-description">Developer</span></td>
            <td>
              <span class="completed">8 / 15</span>
              <div class="progress">
                <div style="width: 25%" class="progress-bar progress-bar-primary"></div>
              </div>
            </td>
            <td class="cell-detail"><span>develop</span><span class="cell-detail-description">63e8ec3</span></td>
            <td class="cell-detail"><span>April 22, 2016</span><span class="cell-detail-description">14:45</span>
            </td>
          </tr>
          <tr>
            <td class="user-avatar cell-detail cell-avatar">
              <img src="assets/img/avatar.jpg">
              <span>Justine Clifford</span><span
              class="cell-detail-description">Designer</span></td>
            <td>
              <span class="completed">1/ 12</span>
              <div class="progress">
                <div style="width: 12%" class="progress-bar progress-bar-primary"></div>
              </div>
            </td>
            <td class="cell-detail"><span>master</span><span class="cell-detail-description">8cb98ec</span></td>
            <td class="cell-detail"><span>April 22, 2016</span><span class="cell-detail-description">13:02</span>
            </td>
          </tr>
          </tbody>
        </table>
        </section>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="30" fxFlexAlign="start">
      <mat-card class="page-card" fxFlex>
        <mat-card-content>
          <div fxLayout="row" fxFlex>
            <div fxFlex="50">
              <h3>Chiho Sin</h3>
              <span mat-line>Guang dong, China</span>
              <span mat-line>Software Engineer</span>
              <p mat-line>
                <button mat-raised-button color="primary">Follow</button>
              </p>
            </div>
            <div fxFlex="50" style="text-align: right;margin: auto;">
              <img src="assets/img/avatar.jpg" height="96" width="96" style="border-radius: 50%;">
            </div>
          </div>
        </mat-card-content>
        <hr>
        <div class="bottom-block" fxLayout="row" fxFlex>
          <div class="bottom-content" fxFlex>
            <p>54</p>
            <span>POST</span>
          </div>
          <div class="bottom-content" fxFlex>
            <p>4235</p>
            <span>FOLLOWERS</span>
          </div>
          <div class="bottom-content" fxFlex>
            <p>892</p>
            <span>WATCH</span>
          </div>
        </div>
      </mat-card>
      <mat-card class="page-card" fxFlex>
        <mat-card-header>
          <div mat-card-avatar
               style="background-image: url('assets/img/avatar.jpg');
             background-size: cover;">
          </div>
          <mat-card-title>Chiho Sin</mat-card-title>
          <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/gallery/img3.jpg" height="160">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
