<mat-tab-group>
  <mat-tab label="Tab 1">
    <mat-card class="page-card">
      <mat-card-title>Tab Layout</mat-card-title>
      <mat-card-content>
        This the tab page layout.
        <div style="width: 100%;height:320px;background-color: #CCCCCC;"></div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Tab 2">
    <mat-card class="page-card">
      <mat-card-title>Tab Layout</mat-card-title>
      <mat-card-content>
        This the tab page layout.
        <div style="width: 100%;height:320px;background-color: #CCCCCC;"></div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
