<md-tab-group>
  <md-tab label="Tab 1">
    <md-card class="page-card">
      <md-card-title>Tab Layout</md-card-title>
      <md-card-content>
        This the tab page layout.
        <div style="width: 100%;height:320px;background-color: #CCCCCC;"></div>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Tab 2">
    <md-card class="page-card">
      <md-card-title>Tab Layout</md-card-title>
      <md-card-content>
        This the tab page layout.
        <div style="width: 100%;height:320px;background-color: #CCCCCC;"></div>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>
